* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #1db9c3;
}
.navegacion {
  width: 1000px;
  margin: 30px auto;
  background-color: #f56fad;
}

.navegacion ul {
  list-style: none;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 15px 20px;
  color: #060707;
  font-family: _ "Open sans";
  text-decoration: none;
}
.menu li a:hover {
  color: #c1ffd7;
  transition: all 0.3s;
}
/* subMenu*/

.submenu {
  position: absolute;
  background: #f56fad;
  width: 130%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.submenu li a {
  display: block;
  padding: 15px;
  color: #060707;
  font-family: _ "Open_sans";
  text-decoration: none;
}
.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
